ion-content{
    --ion-background-color:#2D3338;
    --ion-text-color: #ffffff;
    --ion-font-family: 'Lato' sans-serif;
}

ion-text {
    --ion-font-family: 'Proxima Nova'!important;
    font-family: 'Proxima Nova' !important;
    font-weight: bold;
    font-size:large;
    color: #ffffff;
}

ion-text.date {
    --ion-font-family: 'Proxima Nova'!important;
    font-family: 'Proxima Nova' !important;
    font-weight: normal;
    font-size:small;
    color: #ffffff;
}