ion-content{
    --ion-background-color:#121212;
    --ion-text-color: #ffffff;
    --ion-font-family: 'Roboto' sans-serif;
}

ion-text {
    --ion-font-family: 'Roboto'!important;
    font-family: 'Roboto' !important;
    font-weight: bold;
    font-size:large;
    color: #ffffff;
}

ion-text.date {
    --ion-font-family: 'Roboto'!important;
    font-family: 'Roboto' !important;
    font-weight: normal;
    font-size:small;
    color: #ffffff;
}

ion-header {
    --ion-background-color:#121212;
}

ion-menu-button {
    color: #ffffff;
}

ion-content{

    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
    --ion-font-family: 'Roboto' sans-serif;
}

ion-back-button {
    --icon-font-size: 60px; //Preferred size here
    --color: purple;
}

ion-title {
    --ion-font-family: 'Roboto', sans-serif !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 900;
    font-size: 22px;
    color: #ffffff;
}