<ion-header translucent="true">
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Book a Meeting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card (click)="openWebPage('https://booking.setmore.com/scheduleappointment/625b7bd1-eb6f-434b-8be3-6dff1b1f44b4')">
    <img src="../../assets/images/cccgheader.png" style="object-fit: fill;" />
    <ion-card-title>Meet with Pastor Emmanuel</ion-card-title>
    <ion-card-content>
      Book a meeting with Pastor on regular weekdays
    </ion-card-content>
  </ion-card>

  <ion-card (click)="openWebPage('https://booking.setmore.com/scheduleappointment/rc1361620387535180')">
    <img src="../../assets/images/pastorService.png" style="object-fit: fill;" />
    <ion-card-title>Meet with Pastor Emmanuel (Service Days)</ion-card-title>
    <ion-card-content>
      Book a meeting with Pastor on service days
    </ion-card-content>
  </ion-card>

  <ion-card (click)="openWebPage('https://booking.setmore.com/scheduleappointment/0bb1c30e-d57a-4e5a-a73c-483b58735721/bookappointment')">
    <img src="../../assets/images/pastorIbukun.png" style="object-fit: fill;" />
    <ion-card-title>Meet with Pastor Ibukun</ion-card-title>
    <ion-card-content>
      Book a meeting with Pastor Ibukun
    </ion-card-content>
  </ion-card>
</ion-content>
