<ion-header translucent="true">
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  
  <h3 class="top">Come and see CCCG</h3>

  <div>
    <p>Cornerstone Christian Church of God, 9249 50th St NW, Edmonton AB</p>
  </div>
  

  <ion-card>
    <img src="../../assets/images/sundayservices.png" style="object-fit: fill;" />
    <ion-card-title></ion-card-title>
    <ion-card-content>
      1st Service: 9:30am MDT,
      2nd Service: 11:30am MDT
    </ion-card-content>
  </ion-card>

  <br />

  <ion-card>
    <img src="../../assets/images/askpastore.png" style="object-fit: fill;" />
    <ion-card-title></ion-card-title>
    <ion-card-content>
      Tuesdays online on Youtube and Facebook at 6:00pm MDT
    </ion-card-content>
  </ion-card>

  <br />

  <ion-card>
    <img src="../../assets/images/biblestudy.png" style="object-fit: fill;" />
    <ion-card-title></ion-card-title>
    <ion-card-content>
      Thursdays at 6:30pm MDT
    </ion-card-content>
  </ion-card>

  <br />

  <ion-card>
    <img src="../../assets/images/fridaynight.png" style="object-fit: fill;" />
    <ion-card-title></ion-card-title>
    <ion-card-content>
      Last Friday of the Month at 10:00pm MDT
    </ion-card-content>
  </ion-card>
  
  <br />

  <ion-card>
    <img src="../../assets/images/youthday.png" style="object-fit: fill;" />
    <ion-card-title></ion-card-title>
    <ion-card-content>
      Last Saturday of the Month at 1:00pm MDT
    </ion-card-content>
  </ion-card>

  <br />
  <br />
</ion-content>
