<ion-content fullscreen>
  
  <h3 class="top">Discover CCCG</h3>
  <p style="padding-left: 20px;">Home of Restoration and Transformation</p>

  <ion-card (click)="openWebPage('https://www.cccghq.org/new-guest')">
    <img src="../../assets/images/firsttime.png" style="object-fit: fill;" />
    <ion-card-title>Welcome to all our guests</ion-card-title>
    <ion-card-content>
      We're so glad you could join us. Connect with us today!
    </ion-card-content>
  </ion-card>

  <br />

  <ion-card (click)="openWebPage('https://www.cccghq.org/new-life')">
    <img src="../../assets/images/newbeliever.png" style="object-fit: fill;"  />
    <ion-card-title>Just accepted salvation?</ion-card-title>
    <ion-card-content>
      Praise the Lord! Let's get in touch and help you grow in your new walk.
    </ion-card-content>
  </ion-card>

  <br />

  <ion-card (click)="openWebPage('https://www.cccghq.org/get-involved')">
    <img src="../../assets/images/servewithus.png" style="object-fit: fill;" />
    <ion-card-title>Get Plugged In</ion-card-title>
    <ion-card-content>
      Find out more about our amazing ministries at CCCG.
    </ion-card-content>
  </ion-card>

  <br />
  <br />
</ion-content>
