ion-header {
    --ion-background-color:#121212;
}

ion-menu-button {
    color: #ffffff;
}

ion-content{

    --ion-background-color:#121212;
    --ion-text-color: #ffffff;
    --ion-font-family: 'Roboto' sans-serif;
}

ion-content{

    --ion-background-color:#121212;
    --ion-text-color: #ffffff;
    --ion-font-family: 'Roboto' sans-serif;
}

ion-card-subtitle {
    --ion-font-family: 'Roboto'!important;
    font-family: 'Roboto' !important;
    font-weight: bold;
    font-size:x-small;
    color: black;
}

 ion-card-title {
    --ion-font-family: 'Roboto'!important;
    font-family: 'Roboto' !important;
    padding-left: 15px;
    font-weight: normal;
    //font-size: 24px;
    color: black;
} 

ion-card-content {
    color: black;
}

ion-card-title.top {
    --ion-font-family: 'Roboto'!important;
    font-family: 'Roboto' !important;
    font-weight: bold;
    font-size: 30px;
    color: black;
}

h3 {
    --ion-font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 900;
    font-size: 30px;
    padding-left: 20px;
}

ion-card {
    width:90%; // adjust width on your ion-card suitable on your screen
    display:block;
    margin: 0 auto;
}