<ion-header translucent="true">
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Request a Ride</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">First name:</ion-label>
      <ion-input type="text" [(ngModel)]="first" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-item lines="full">
      <ion-label position="floating">Last name:</ion-label>
      <ion-input type="text" [(ngModel)]="last" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-item lines="full">
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-item lines="full">
      <ion-label position="floating">Phone Number:</ion-label>
      <ion-input type="text" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-item lines="full">
      <ion-label position="floating">Your Address:</ion-label>
      <ion-textarea [(ngModel)]="address" [ngModelOptions]="{standalone: true}" required></ion-textarea>
    </ion-item>
    <br>
    <br>
    <ion-item lines="full">
      <ion-label position="floating">What church service is this for? :</ion-label>
      <ion-textarea [(ngModel)]="service" [ngModelOptions]="{standalone: true}" required></ion-textarea>
    </ion-item>

    <br>

    <br>

    <ion-row>
      <ion-col></ion-col>
      <ion-col><ion-button (click)=submit() type="submit" size="large">Submit!</ion-button></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </form>
</ion-content>
