<ion-content fullscreen>

  <ion-toolbar>
    <ion-segment color="primary" [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
      <ion-segment-button value="sermons" checked>
        <ion-label class="segment">Sermons</ion-label>
      </ion-segment-button>
      <ion-segment-button value="latest">
        <ion-label class="segment">Broadcasts</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'sermons'">
      <!-- <ion-searchbar style ="color:white" autocomplete="on" debounce="888" animated [(ngModel)]="searchModel" (ionClear)="videos =[]" (ionChange)=
      "search()"></ion-searchbar> -->
      
      <ion-list-header>Latest Sermon</ion-list-header>
      
      <ion-item *ngFor="let latestVideo of latestVideos | async">
        <ion-card (click)="itemTapped(latestVideo.id.videoId, latestVideo.snippet.title, latestVideo.snippet.publishedAt)">
          <img [src]="latestVideo.snippet.thumbnails.medium.url" />
        </ion-card>
      </ion-item>
      
      <ion-list-header>Recent Sermons</ion-list-header>

      <ion-slides pager="false" [options]="slideOpts">
        <ion-slide *ngFor="let video of videos | async">
          <ion-card (click)="itemTapped(video.snippet.resourceId.videoId, video.snippet.title, video.snippet.publishedAt)">
            <img [src]="video.snippet.thumbnails.maxres.url" style="object-fit: fill;" />
            <ion-card-header>
              <ion-card-subtitle>{{ video.snippet.title }}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>

      <ion-list>
        <ion-list-header>Powerful Sermons from the Past </ion-list-header>

      <ion-item *ngFor="let oldVideo of oldVideos | async">
          <ion-card (click)="itemTapped(oldVideo.snippet.resourceId.videoId, oldVideo.snippet.title, oldVideo.snippet.publishedAt)">
            <img [src]="oldVideo.snippet.thumbnails.medium.url" style="object-fit: fill;" />
          </ion-card>
        </ion-item>
      </ion-list>

    </ion-list>

    <ion-list *ngSwitchCase="'latest'">
      <ion-text color="white">
        <div *ngIf="(liveVideos | async)?.length==1">
          <ion-list>    
            <h3 style="padding-left: 10px;">We are Live right now!</h3>
            <ion-item *ngFor="let liveVideo of liveVideos | async">
                <ion-card (click)="itemTapped(liveVideo.id.videoId, liveVideo.snippet.title, liveVideo.snippet.publishedAt)">
                  <img [src]="liveVideo.snippet.thumbnails.medium.url" style="object-fit: fill;" />
                </ion-card>
            </ion-item>
          </ion-list>
        </div>
        <div *ngIf="(latestVideos | async)?.length==1 && (liveVideos | async)?.length==0">
          <ion-list>    
            <h3 class="ion-padding-start">Watch our Latest Service</h3>
            <ion-item *ngFor="let latestVideo of latestVideos | async">
                <ion-card (click)="itemTapped(latestVideo.id.videoId, latestVideo.snippet.title, latestVideo.snippet.publishedAt)">
                  <img [src]="latestVideo.snippet.thumbnails.medium.url" style="object-fit: fill;" />
                </ion-card>
            </ion-item>
          </ion-list>
        </div>
      </ion-text>
      <ion-text color="white">
        <h3 class="ion-padding-start">Listen to our latest Podcast Episode</h3>
        <br>
      </ion-text>
      <iframe class="ion-padding-start" src="https://open.spotify.com/embed/show/0sj3zVfd8YfWSKgiXujitn?theme=0" 
      width="90%" height="152" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </ion-list>
  </div>

  <!--
  <ion-card class="ion-no-margin">
    <img src="../../assets/images/cccgheader2.png" />
  </ion-card>

  <ion-list>
    <ion-list-header>
      EXPERIENCE CCCG
    </ion-list-header>

    <ion-item href="https://www.youtube.com/channel/UCP7vi_uJF52wJ9d-oWdVVkA">
      <ion-avatar slot="start">
        <img src="../../assets/images/youtube.png">
      </ion-avatar>
      <ion-label>
        <h2>Watch our Services</h2>
      </ion-label>
    </ion-item>

    <ion-item href="https://cccghq.squarespace.com/golden-nugget/2021/4/23/dealing-with-wounds">
      <ion-avatar slot="start">
        <img src="../../assets/images/read.png">
      </ion-avatar>
      <ion-label>
        <h2>Read the Latest Nuggets Blog!</h2>
      </ion-label>
    </ion-item>

    <ion-item href="https://www.cccghq.org/new-guest">
      <ion-avatar slot="start">
        <img src="../../assets/images/join.png">
      </ion-avatar>
      <ion-label>
        <h2>Join CCCG!</h2>
      </ion-label>
    </ion-item>

    <ion-item href="https://www.cccghq.org/testimonies">
      <ion-avatar slot="start">
        <img src="../../assets/images/happy.png">
      </ion-avatar>
      <ion-label>
        <h2>Share a Testimony</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  -->

</ion-content>