<ion-content fullscreen>
  
  <h3 class="top">Connect</h3>
  <p style="padding-left: 20px;">Check out and interact with our programs at CCCG</p>

  <ion-card (click)="openWebPage('https://www.cccghq.org/training')">
    <img src="../../assets/images/leadershipclass.png" style="object-fit: fill;" />
    <ion-card-title>Train for Service!</ion-card-title>
    <ion-card-content>
      Join our Basic/Advanced Leadership Classes.
    </ion-card-content>
  </ion-card>

  <br />

  <ion-card (click)="openWebPage('https://linktr.ee/CCCG')">
    <img src="../../assets/images/followoursocials.png" style="object-fit: fill;"  />
    <ion-card-title>Like, Share, Subscribe!</ion-card-title>
    <ion-card-content>
      We've got a lot going on at CCCG. Follow us to find out more and be part of it!
    </ion-card-content>
  </ion-card>

  <br />
</ion-content>
